[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
